.card-img-top {
  max-width: 150px;
  max-height: 205px;
}

.card {
  border: 2px solid black;
  margin-bottom: 10px;
}

.card a {
  color: black;
  text-decoration: underline;
}

button {
  margin-right: 5px;
}

li {
  color: black;
}

.profile-pic {
  max-width: 65px;
  max-height: 65px;
}
